<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/about-12.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Openweathermap</p>
        <img class="portrait" src="/img/about-12.jpg">
    </div>
    
    {{>footer}}
</body>

</html>